.head{
    float: left;
    height: 100px;
    width: 100%;
}
.headInfo
{
    margin: 50px 0 0 100px;
    float: left;
    width: 20%;
    height: 50px;
    font-size: 30px;
}
.bodyInfo{
    margin: 0 10% 0 10%;
    float: left;
    width: 80%;
    height: 100%;
}