.chooseInfor{
    margin:
}
.showInformationDiv{
    margin:0 15% 0 15% ;
    float: left;
    width: 70%;
    height: 100%;
}
.showSellerInfor{
    float: left;
    margin:15px 5% 15px 5%;
    width: 90%;
    height: 200px;
    background: #00b4ef;
}
.showSellerImg{
    float:left;
    width:30%;
    height:200px;
}
.showSellerName{
    float:left;
    width:70%;
    height:60px;
}
.showSellerPrice{
    float:left;
    width:70%;
    height:70px;
}
.showSellerLocation{
    float:left;
    width:70%;
    height:70px;
}